:root {
  --brand-teal: #01a9ce;
  --brand-teal-action: #25B9D1;
  --brand-text-primary: #5A5A5A;
  --brand-text-logo: #5A5A5A;
  --brand-light-cyan: #88d0ea;
  --price-card-int:  #2a4b7c; 
  --si-dark-blue: #2a4b7c;
  --si-teal: #34bbda;
  --si-light-teal: #68d2e0;
  --si-light-green: #8bc34a;
  --si-light-gray-bg: #f7f8f9;
  --si-text-gray: #555;
}

body {
  background-color: #f8f9fa;
  font-family: var(--font-inter); 
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  margin-right: -6px;
  font-size: 12;
}

.btn-mi-cuenta {
  background-color: var(--brand-teal-action);
  border-color: var(--brand-teal-action);
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.btn-mi-cuenta:hover {
  background-color: #21a3b8;
  border-color: #21a3b8;
  color: white;
}

.btn-pas {
  background-color: transparent !important;
  color: var(--brand-light-cyan) !important;

  border: 2px solid var(--brand-light-cyan) !important; 

  font-family: var(--font-open-sans);
  font-weight: 600 !important;
  font-size: 13px !important;
  letter-spacing: 0.05em;

  padding: 0.65rem 2rem !important;
  transition: all 0.2s ease-in-out;
}

.btn-pas:hover {
  background-color: var(--brand-light-cyan) !important;
  color: white !important;
}

header.sticky-top {
  z-index: 1030 !important;
}

.mobile-accordion-products .accordion-button {
  color: #2a4b7c !important;
  font-weight: 600 !important;
  padding: 1.25rem 1rem !important;
  border-bottom: 1px solid #e0e0ee !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  
  background-color: #00a9ce !important;
  color: white !important;
  border-radius: 0.5rem !important;
}
.mobile-accordion-products .accordion-button::after {
    display: none !important;
}
